__pycache__
.venv
bin
Jupyter_notebook_tests
Test.py
statistical_analysis.py
temp.py
Noise_tests.ipnyb
Simulation_time_tests.ipynb
statistical_analysis.py
requirements.txt
test_3.py
test_2.py
time_efficiency_result_processing.py
Simulation_time_tests_simplified.ipynb
Signal_changes_tests.py
test_folder_multithread
Test_data
Rand_data
Tests_non_rand_scheme
tests_rand
Test_read.py
Test_single_fit.py
Test2.py
Test_new_scheme.py
data